@import "tailwindcss";
@import "@nuxt/ui";
@plugin 'daisyui';

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme static {
  --font-sans: "Gilroy", system-ui, sans-serif;

  --color-accent-50: #f0f0f0;
  --color-accent-100: #d6d6d6;
  --color-accent-300: #979797;

  --color-main-50: #f7f7f7;
  --color-main-100: #ededed;
  --color-main-200: #d1d1d1;
  --color-main-300: #9e9e9e;
  --color-main-400: #333333;
  --color-main-500: #2b2b2b;
  --color-main-600: #242424;
  --color-main-700: #1e1e1e;
  --color-main-800: #181818;
  --color-main-900: #121212;
  --color-main-950: #0b0b0b;
}

html,
body,
#__nuxt {
  background-color: var(--color-accent-50);
  color: var(--color-main-400);
  font-family: "Twemoji Country Flags", "Gilroy", sans-serif;
  max-width: 100vw;
}

:disabled {
  cursor: default !important;
}

[data-slot="file"] [data-slot="root"] {
  @apply rounded-none;
}

[data-slot="wrapper"] [data-slot="root"] {
  @apply bg-transparent;
}

[data-slot="wrapper"] [data-slot="root"] [data-slot="icon"] {
  @apply text-main-400;
}

[data-slot="increment"] [data-slot="base"] {
  @apply text-white hover:text-gray-300 active:text-gray-500;
}

[data-slot="decrement"] [data-slot="base"] {
  @apply text-white hover:text-gray-300 active:text-gray-500;
}
